In [19]:
import pandas as pd

test_df = pd.read_csv("test.tsv", header=None, sep='\t')
dev_df = pd.read_csv("dev.tsv", header=None, sep='\t')
train_other_df = pd.read_csv("train_other.tsv", header=None, sep='\t')
train_df = pd.read_csv("train.tsv", header=None, sep='\t')

In [20]:
for df in [test_df, dev_df, train_other_df, train_df]:
    df.columns = ["Label", "Text"]

In [21]:
dev_df.to_csv("dev.csv")
test_df.to_csv("test.csv")

In [22]:
#for df in [train_other_df, train_df]:
#    df.groupby(["Label"]).count()
#    df = df[df["Label"] != 2]

In [25]:
train_other_df

     Label                                               Text
0        2  XYZ was well-known for being a very strong bel...
1        0  XYZ had a part-time job as a bartender at a re...
2        1  XYZ was known for being smart, and being a goo...
3        0  XYZ had a part-time job as a bartender at a fo...
4        1  XYZ was described as 'tough, intelligent', 'fa...
..     ...                                                ...
230     -1  XYZ started working as a cleaner in the middle...
231     -1  XYZ started working as a prostitute, went to w...
232      0  XYZ started working as soon as he got the call...
233     -1  XYZ had a part-time job as a security guard an...
234     -1  XYZ was known for his sex life, which has led ...

[235 rows x 2 columns]

In [26]:
train_other_df.to_csv("train_other.csv")
train_df.to_csv("train.csv")